<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Room</title>
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="/js/libs/vue-2.6.14.js"></script>
        <script src="/js/app/room.js"></script>
        <script>
            var roomId = location.href.substring(location.href.lastIndexOf("/") + 1);
            console.log("roomId first ", roomId);
        </script>
        <script th:inline="javascript">
            /*<![CDATA[*/

                var roomId2 = /*[[${roomId}]]*/ 'default';
                console.log("roomId2 ", roomId2);

            /*]]>*/
        </script>
    </head>
    <body>
     ROOM ROOM

        <div id="app">
        </div>
    </body>
</html>
